// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$off-white: #F7F7FF;
$grey-green: #7b8e85;
$blue-green:#013b4a;
$bright-green: #16835b;
$black:#1D201F;
$gray: #7B7C7A;
$light-gray: #E7E8E6;
$dark-green: #095F53;
$light-green:#5d8939;
$warning: #F2D965;
