// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$off-white: #FFFFE8;
$light-cream: #D0C9C4;
$brown: #4A4238;
$black:#1D201F;
$gray: #7B7C7A;
$light-gray: rgba(199, 199, 199, 0.3);
$dark-green: #0E211A;
$light-green:#7B8582;
$warning: #F2D965;
