// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$off-white: #F7F7FF;
$light-cream: #D0C9C4;
$mint-green: #E8F0EB;
$black:#1D201F;
$gray: #7B7C7A;
$light-gray: rgba(153, 157, 163, 0.4);
$dark-green: #E8F0EB;
$light-green:#7B8582;
$warning: #F2D965;
