// Import page-specific CSS files here.
@import "home";
@import "show";


.card-category {
  background-size: cover;
  object-fit: contain;
  background-position: center;
  height: 360px;
  width: 360px;
  color:black;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.name_plant {
color:black;
margin-left: 12px;
font-size: 24px;
font-weight: bold;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.my_class {
    float:  left;
    width:  500px;
    height: 500px;
    margin-left: 12px;
    background-size: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.cards {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  float:  left;
  width:  100px;
  height: 100px;
  background-size: cover;

}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
  margin-top: 3px;
  margin-left: 12px;
  border-radius: 5px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

