<h2>here is the index page </h2>
<!-- i am gonna need to turn this into a partial so i can render it to the profile page..for the next feature -->
<p>  i need to make this a partial so i can render it on the profile page</p>
<div>
  <%= @bookings.count  %>
   <% @bookings.each do |booking| %>
      <%= booking.plant.name %>
      <% if policy(booking).destroy? %>
      <%= link_to 'Destroy', booking,
          method: :delete, data: {
          confirm: 'Are you sure?' }, class: "button" %>
       <% end %>
       <% if policy(booking).show? %>
       <%= link_to 'View', booking, class: "button" %>
        <% end %>
  <% end %>
</div>
