<h1> Plants show page</h1>

<tbody>
  <% @plants.each do |plant| %>
    <tr>
      <td><%= Plant.name %></td>

      <td><%= link_to 'Show', plant %></td>

      <td><% if current_user == plant.user %></td>
          <%= link_to 'Edit', edit_plant_path(plant)%>
        <!--   <% else %>
          <% end %> -->
      </td>

      <td><% link_to 'Destroy', plant,
          method: :delete, data: {
            confirm: 'Are you sure?' } %>
      </td>

    </tr>
  <% end %>
</tbody>
