<div class="cards">
  <% @plants.each do |plant| %>
    <div>
     <%= cl_image_tag("#{plant.photo}",class: "my_class") %>
   <div class="name_plant"> <%= plant.name %> </div>
    <div class="card-trip-infos">
      <%= link_to 'Edit', edit_plant_path(plant), class: "button" %>
      <%= link_to 'Destroy', plant,
          method: :delete, data: {
          confirm: 'Are you sure?' },  class: "button" %>
    </div>
  </div>
  <% end %>
</div>
