<h1> Plants index page</h1>

<tbody>
  <% @plants.each do |plant| %>
    <tr>
      <td><%= plant.name %></td>
      <td><%= link_to 'Edit', edit_plant_path(plant)%></td>

      <td><%= link_to 'Destroy', plant,
          method: :delete, data: {
            confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</tbody>
