<!-- here i need to render a calender along with everything else -->
<!-- need to show the booking button - would this then take you to the new booking view? -->
<p>plant show page for plant id: <%= @plant.id %></p>
